@import "../../../../assets/theme/_var.scss";

.custom_input {
    .input_in {

        input,
        textarea {
            height: 4.6rem;
            border-radius: 0.8rem;
            border: 0.1rem solid $border;
            outline: none;
            font-size: 1.6rem;
            font-weight: 400;
            padding: 0 2.4rem;
            transition: 300ms ease-in-out;
            color: $black;
            width: 100%;

            &:focus {
                border-color: $baseclr;
            }
        }

        textarea {
            min-height: 12rem;
            padding-top: 0.8rem;
            resize: none;
        }

        &.error_input {

            input,
            textarea {
                border-color: $redclr;
            }
        }

        &.icon_input {
            position: relative;

            input {
                padding-left: 4rem;
            }

            .input_icon {
                position: absolute;
                top: 50%;
                left: 0.8rem;
                transform: translateY(-50%);
                color: $black;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }

        &.right_icon_input {
            position: relative;

            input {
                padding-right: 4rem;
            }

            .right_input_icon {
                position: absolute;
                top: 50%;
                right: 0.8rem;
                transform: translateY(-50%);
                color: $black;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }
    }
}