@import "../../../../assets/theme/_var.scss";

.custom_switch {
    .input_in {
        display: flex;
        align-items: center;

        .custom_label {
            margin: 0 0 0 0.8rem;
        }

        input {
            appearance: none;
            background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9" cy="9" r="9" fill="%23DEDEDE"/></svg>');
            background-repeat: no-repeat;
            background-position: 0.2rem;
            background-size: 1.8rem;
            width: 4.4rem;
            height: 2.2rem;
            border: 1px solid $border;
            border-radius: 4rem;
            transition: 300ms ease-in-out;
            cursor: pointer;

            &:checked {
                background-color: $baseclr;
                background-image: url('data: image/svg+xml, <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" ><circle cx="9" cy="9" r="9" fill="%23FFFFFF" /></svg>');
                background-position: 2.2rem;
                border-color: $border;
            }

            &:disabled {
                cursor: default;
                background-color: $border !important;
                border-color: rgba($black, 0.1) !important;
                background-image: url('data: image/svg+xml, <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" ><circle cx="9" cy="9" r="9" fill="%23F0F0F0" /></svg>');
            }
        }
    }
}