$basefont: "Inter", sans-serif;
$codefont: "Fira Code", serif;

$baseclr: #2292fb;
$black: black;
$white: white;
$redclr: #FF0000;

$border: #ddd;

$sidebar: 992;
$header: 990;
$sidebar_overlay: $sidebar - 1;